@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html, body {
  overflow-x: hidden; /* ✅ Prevents entire page from scrolling in X direction */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.content-padding {
  /* padding: 4rem;  */
  /* Add the desired padding */
}

.carousel .transition {
  transition: transform 0.5s ease-in-out;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome & Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Hides scrollbar in IE & Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}



